[Unit]
Description=Steve's Gematria Overnight Research Scheduler
Documentation=https://github.com/avalon-stevens/gematria
After=network.target

[Install]
WantedBy=multi-user.target

[Timer]
OnCalendar=*-*-* 03:00:00
Persistent=true
RandomizedDelaySec=180
AccuracySec=1h
Unit=gematria-overnight.service
